<div class="envelopes-container" class="container">
    <button *ngIf="!settingsOpen"
            mat-mini-fab
            class="settings-button"
            (click)="openSettings()">
        <mat-icon>settings</mat-icon>
    </button>
    <div *ngIf="settingsOpen"
         class="settings-panel">
        <button mat-mini-fab class="settings-close-button" (click)="closeSettings()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="view-wrapper">
        <mobius-view [settings]="settings"></mobius-view>
    </div>
</div>