<div class="settings-container">
    <div class="setting">
        <label>Model:</label>
        <mat-radio-group [(ngModel)]="settings.model" (change)="updateSettings()">
            <mat-radio-button class="radio" [value]="model.POINCARE">
                Poincaré
            </mat-radio-button>
            <mat-radio-button class="radio" [value]="model.KLEIN">
                Klein
            </mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="setting">
        <label>Vertex count: </label>
        <mat-slider
                min="3"
                max="6"
                step="1"
                thumbLabel="true"
                [(ngModel)]="settings.vertexCount"
                (change)="updateSettings()"
        ></mat-slider>
    </div>
    <div class="setting">
        <label>Polygon size: </label>
        <mat-slider
            min="0.0001"
            max="2"
            step="0.0001"
            thumbLabel="true"
            [(ngModel)]="settings.equilateralRadius"
            (change)="updateSettings()"
        ></mat-slider>
    </div>
    <div class="setting">
        <label>Polygon size: </label>
        <input matInput
               [(ngModel)]="settings.equilateralRadius"
               (input)="preciseSize()"
        >
    </div>

    <div class="setting">
        <label>Primary rotation: </label>
        <input matInput
               (input)="setAngle($event)">
    </div>

    <div class="setting">
        <mat-checkbox [(ngModel)]="settings.showPreimages"
                      (change)="updateSettings()"
        >Boundary preimages</mat-checkbox>
    </div>

    <div class="setting">
        <mat-checkbox [(ngModel)]="settings.showOrbitPaths"
                      (change)="updateSettings()"
        >Orbit paths</mat-checkbox>
    </div>

<!--    <point-picker></point-picker>-->
</div>
