html, body
  height: 100%
  width: 100%
  margin: 0

.full-page
  height: 100%
  width: 100%
  display: flex
  flex-direction: column
  gap: 16px
  background-color: black

.top
  flex-grow: 1
  display: flex
  flex-direction: row
  max-height: 50%
  align-items: stretch
  gap: 16px

.picker
  width: calc(40% - 8px)
  height: 100%

.unfold
  width: calc(60% - 8px)
  height: 100%

.bottom
  flex-grow: 1
  max-height: 50%
  display: flex
  flex-direction: row
  justify-content: center
  padding: 16px
  background-color: #123456


