<div class="content">
    <div class="head">
        <h1 routerLink="/"> Demos</h1>
    </div>
    <div class="demo-links">
        <!--        <link-tile title="Dynamics" path="/functions"></link-tile>-->
        <!--        <link-tile title="Surfaces" path="/surfaces"></link-tile>-->
        <link-tile title="Billiards" path="/billiards"></link-tile>
        <link-tile title="Envelopes" path="/envelopes"></link-tile>
        <!--        <link-tile title="Pentagram" path="/pentagram"></link-tile>-->
        <!--        <link-tile title="Möbius" path="/mobius"></link-tile>-->
        <link-tile title="Tiling" path="/tiling"></link-tile>
        <!--        <link-tile title="Poincaré" path="/poincare"></link-tile>-->
        <link-tile title="Symplectic" path="/symplectic"></link-tile>
        <link-tile title="Unfolding" path="/unfolding"></link-tile>
        <link-tile title="Unfolding 3D" path="/unfolding-3d"></link-tile>
        <link-tile title="Tile Billiards" path="/tile-billiards"></link-tile>
    </div>
</div>