<div class="content">
    <div class="head">
        <h1 routerLink="/"> Demos</h1>
    </div>
    <div class="demo-links">
        <!--        <link-tile title="Dynamics" path="/functions"></link-tile>-->
        <!--        <link-tile title="Surfaces" path="/surfaces"></link-tile>-->
        <link-tile title="Billiards" path="/billiards"></link-tile>
        <link-tile title="Envelopes" path="/envelopes"></link-tile>
        <!--        <link-tile title="Pentagram" path="/pentagram"></link-tile>-->
        <!--        <link-tile title="Möbius" path="/mobius"></link-tile>-->
        <link-tile title="Tiling" path="/tiling"></link-tile>
        <!--        <link-tile title="Poincaré" path="/poincare"></link-tile>-->
    </div>
</div>