<div class="container">
    <h2>Hyperbolic Outer Billiards</h2>
    <div class="contents">
        <div class="column">
            <hob-settings (settings)="updateSettings()"></hob-settings>
            <!--            <point-picker-->
            <!--                    class="triangle-picker"-->
            <!--                    viewShader="demo3d"-->
            <!--                    pickShader="pick3d">-->
            <!--            </point-picker>-->
        </div>

        <div class="column">
            <billiards-view
                    class="billiards-view"
                    [settings]="settings"
                    viewShader="demo2d"
                    pickShader="pick2d"
                    [allowPicking]="false"
            ></billiards-view>
        </div>
    </div>
</div>
